* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 16px;
    /* padding: 25px; */
    /* max-width: 400px;
    
    min-width: 400px; */
    background-color: #dfe6e9;
    /* text-align: center; */
  }

  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  .btn{
    margin-left: auto;
    background-color: #2b72f7;
    border-radius: 5px;
    font-size: larger;
    padding: 7px 20px;
    border: 1px solid #2b72f7;
    font-family: "McLaren", cursive;
    color: aliceblue;
  }

  .btn:hover{
    background-color: #1259d9;
  }
  .heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
  }
  
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #81ecec;
    margin: 50px 10px;
    height: 200px;
    width: 345px;
    float: left;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
  }
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  .card img {
    margin: 30px 20px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }
  
  .bottom {
    margin-top: 100px;
  }
  
  .info {
    margin: 10px 0;
    color: #1a7e76;
  }
  